<div class="mt-4">
    <h3>Danh sách người dùng</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Email người dùng</th>
                <th scope="col">Ngày Sinh</th>
                <th scope="col">Sở thích</th>
                <th scope="col">Tùy Chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.fullName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.hobby}}</td>
                <td>
                    <a href="/manage/users/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-user-model">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
{{!-- Confirm Delete--}}
<div id="delete-user-model" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa khóa học này không?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-user" type="button" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete form --}}

<form name="delete-user-form" method="POST">


</form>

<script>
    var userId;
    var exampleModal = document.getElementById('delete-user-model');
    var deleteForm = document.forms['delete-user-form'];
    var btnDeleteUser = document.getElementById('btn-delete-user');

    exampleModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        userId = button.getAttribute('data-id');
    });
    btnDeleteUser.onclick = function () {
        deleteForm.action = '/manage/users/' + userId + '?_method=DELETE';
        deleteForm.submit();
    }


</script>